<!DOCTYPE html>
<html>
<head>
 
  <%= stylesheet_link_tag "application"%>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div>
<%= yield %>
THIS IS HOME PAGE
</div>

<div>
   <form tag="Create Logon">
   <div align="center" class="loginpage">
		Username:  <input type="username" name="username" />
	<br/>
        <br/>
        Password:    <input type="password" name="pwd" id="password" />
 	<br/>
	<br/>
		<input type="submit" value="Submit" />
        <br/>
        <br/>
        Sign Up for New User
        <br/>
        <br/>
        Forgot Password?
    </div>
	</form>
  </div>
   <div>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
<br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
     <br/>
    <br/>
   <br/>
   <br/>
</div>

</body>
</html>
