<!DOCTYPE html>
<html>
<head>
 
  <%= stylesheet_link_tag "application"%>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<%= form_for(@cookbook) do |f| %>
  <% if @cookbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cookbook.errors.count, "error") %> prohibited this cookbook from being saved:</h2>

      <ul>
      <% @cookbook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="newtable">
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :servings %><br />
    <%= f.number_field :servings %>
  </div>
  <div class="field">
    <%= f.label :preptime %><br /> 
    <%= f.number_field :preptime %> (in minutes)
  </div>
  <div class="field">
    <%= f.label :cooktime %><br /> 
    <%= f.number_field :cooktime %> (in minutes)
  </div>
  <div class="field">
    <%= f.label :ingredients %> <br>(List ingredients separated by a comma)<br />
    <%= f.text_area :ingredients, size: "40x3" %>
  </div>
  <div class="field">
    <%= f.label :directions %><br />
    <%= f.text_area :directions, size: "40x5" %>
  </div>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</html>