<h1>Listing cookbooks</h1>

<table>
  <tr>
    <th>Recipe</th>
    <th>Recipe title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cookbooks.each do |cookbook| %>
  <tr>
    <td><%= cookbook.recipe_id %></td>
    <td><%= cookbook.recipe_title %></td>
    <td><%= link_to 'Show', cookbook %></td>
    <td><%= link_to 'Edit', edit_cookbook_path(cookbook) %></td>
    <td><%= link_to 'Destroy', cookbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cookbook', new_cookbook_path %>
