<!DOCTYPE html>
<html>
<head>
 
  <%= stylesheet_link_tag "application"%>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<h1 align="center">Listing cookbooks</h1>
<!--<% content_for :stylesheets do %>
  <%= stylesheet_link_tag 'cookbooks' %>
<% end %> 
-->



<div class="search_box">
<%= form_tag cookbooks_path, :method => 'get' do %>
  
   <div class="wrapper">
   		<input type="text" id="search" placeholder="Search by ingredients...">
   			<%= text_field_tag :search, params[:search] %>
   		</input>
   			<button type="submit" class="search_button" >Search!</button>
   	</div>
   
  
<% end %>
</div>

<table align="center" border="2" class="table">

<tr>
    <th>Author</th>
    <th>Recipe</th>
    <th>Yield</th>
    <th>Prep Time</th>
    <th>Cook Time</th>
    <th>Ingredients</th>
    <th>Directions</th>
    <th>Created Date</th>
  </tr>

<% @cookbooks.each do |cookbook| %>


  <tr>
    <td><%= cookbook.author %></td>
    <td><%= cookbook.title %></td>
    <td><%= cookbook.servings %> servings</td> 
    <td><%= cookbook.preptime %> minutes</td>
    <td><%= cookbook.cooktime %> minutes </td>
    <td><ul><% split_ingredients(cookbook).each do |ingredient| %>
	   <li><%= ingredient %></li>
	    <% end %>
	</ul>
    </td>
    <td><%= cookbook.directions %></td>
    <td><%= cookbook.created_at %></td>
    <td>
    <%= link_to 'Show', cookbook %>
     <% if (cookbook.user_id)== session[:User_id] %>
    <%= link_to 'Edit', edit_cookbook_path(cookbook) %>
    <% end %>
     <% if (cookbook.user_id)== session[:User_id] %>
    <%= link_to 'Destroy', cookbook, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </td>
  </tr>
  <p>
  
  
  </p>
<% end %>
</table>

<br />
<div align="center" class="new">
<%= link_to 'New Cookbook', new_cookbook_path %>
</div>
<div align="center" class="edit">
<%=link_to 'Edit Profile', edit_user_path(session[:User_id]) %>
</div>
<div align="center" class="logout">
<%=link_to 'Logout', :controller => :users, :action => :logout %>
</div>
</html>
