<p id="notice"><%= notice %></p>

<p>
  <b>Recipe:</b>
  <%= @cookbook.title %>
</p>

<p>
  <b>Yield:</b>
  <%= @cookbook.servings %> servings
</p>

<p>
  <b>Prep Time:</b>
  <%= @cookbook.preptime %> minutes
</p>

<p>
  <b>Cook Time:</b>
  <%= @cookbook.recipe_title %> minutes
</p>

<p>
  <b>Ingredients:</b>
  <%= @cookbook.ingredients %>
</p>

<p>
  <b>Directions:</b>
  <%= @cookbook.directions %>
</p>


<%= link_to 'Edit', edit_cookbook_path(@cookbook) %> |
<%= link_to 'Back', cookbooks_path %>
