<!DOCTYPE html>
<html>
<head>
 
  <%= stylesheet_link_tag "application"%>
  <%= yield :stylesheets %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div class="header">
 <title>Physicalfocus</title>
<div/>

<h1 class="title">Welcome To Physical Focus!!</h1>
<div class="logo">
	<img src="http://s8.postimg.org/sylrfsrhx/logo.png" alt="logo" height="20%" width="20%" id="logo"/>
</div>
	
 <% if flash[:notice] %>
    <div class="message" id="notice">
      <%= flash[:notice] %>
    </div>
  <% elsif flash[:warning] %>
    <div class="message" id="warning">
      <%= flash[:warning] %>
    </div>
  <% end %>
<div>
<%= yield %>
</div>



</body>

<div align="center" id="footer">
     Created by Montclair State University students (Anagha Tasgaonkar, Krupa Patel, Olivia Larson, Vinothini Ramachandran, Enis Bilgin)
</div>
</html>
